* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body > header {
    background-color: rgb(226, 200, 167);
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px black;
}

li > a {
    text-decoration: none;
}

ul {
    display: flex;

}

header > nav > ul > li {
    width: 100px;
    margin-top: 10px;
}

#sports{
    padding-top: 70px;
    background-color: rgba(81, 250, 29, 0.251);
}

.esportes{
    display: flex;
    border-bottom: solid 5px black;
    flex-wrap: wrap;
}

article img {
    width: 100%;
}

article {
    margin: 10px;
    width: 30%;
}

/* ///// */

.economia{
    display: flex;
    border-bottom: black 5px solid;
}

#economy{
    background-color: rgba(0, 255, 255, 0.517);
}

#veiculos{
    background-color: beige;
    border-bottom: 5px solid black;
}

.car{
    display: flex;
}

/* /////// */

#Tecnologia{
    background-color: rgb(200, 226, 248);
}

.Tecnologias{
    display: flex;
}